[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
show-warnings

[mysqld]
# basic
datadir = /usr/local/var/mysql
#tmpdir = /tmp
port = 3306
socket = /tmp/mysql.sock
max_connections = 16
character-set-server = utf8
#skip-character-set-client-handshake
# max_connections * tables used in one transaction(10) + 5
table_open_cache = 256
# all tables(50) + max_connections + 5
table_definition_cache = 400
# table_open_cache * 1.4
open_files_limit = 400

# buffer
key_buffer_size = 16M
read_buffer_size = 256K
read_rnd_buffer_size = 512K
join_buffer_size = 256K
sort_buffer_size = 512K
query_cache_size = 0
query_cache_type = 0

# binlog
log-bin=mysql-bin
binlog_format = MIXED
max_binlog_size = 128M
expire_logs_days = 1
server-id = 1

# log
#log_output = /tmp
#general_log
slow_query_log
long_query_time = 1
log_queries_not_using_indexes

# InnoDB
default-storage-engine = InnoDB
# available memory for Mysql * 0.7
innodb_buffer_pool_size = 300M
innodb_additional_mem_pool_size = 16M
innodb_file_per_table
innodb_autoextend_increment = 64
innodb_log_files_in_group = 2
#innodb_log_group_home_dir = /tmp
innodb_log_file_size = 128M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 4
innodb_commit_concurrency = 4

[mysqldump]
#max_allowed_packet = 16M
quick
set-charset
single-transaction
